html,
body,
div[id='__next'] {
  width: 100%;
  height: 100%;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(./assets/l2background.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  filter: brightness(60%);
}
